.exp {
    list-style-type: none;
    padding: 15px;
    margin-top: 5px;
}

.exp2 {
    margin-left: 10rem;
}

.exp3 {
    list-style-type: none;
    margin-left: 10rem; 
}

.exp4 {
    list-style-type: none;
    margin-left: 100rem; 
}